
<h1> hello user ... you are not loged in ... please login first</h1>

<form action="/validate" method="POST">
	
<input type="text" name="email"/>
<input type="text" name="password">
<input type="submit" value="log in">

</form>


<a href="/signup">new user?</a>